html,
body {
  height: 100%;
}

/*  MOBILE */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  color: #999;
  font-family: monospace;
}

.container {
  padding: 0.5em 1em;
  border-radius: 1rem;
  font-size: 4.5vw;
}

h3 {
  font-size: 1.2em;
  font-weight: normal;
  margin: 0.3em 0 0.3em 0;
}

h2 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 0.3em 0 0.3em 0;
}

h1 {
  font-weight: normal;
  font-size: 1.4em;
  margin: 0 0 0.1em 0;
  font
}

.hiddenindex-button {
  display: block;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 10px;
}

.hiddenindex .list {
  margin: 30px 10px;
}

.hiddenindex .list>div {
  /* border: 1px dashed rgba(0,0,0,0.2); */
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 30px;
}

.hiddenindex .list>div.list-title {
  border: none;
  width: 100%;
}

.hiddenindex .list>div.list-title h2 {}

.hiddenindex .list h3 {
  margin: 0 0 0.3em 0;
}

.hiddenindex .list ul li {
  line-height: 1.2;
  margin-bottom: 0.5em;
}


/* DESKTOP */
@media only screen and (min-width: 720px) {
  body {
    background-color: rgb(245, 245, 245);
  }

  .container {
    font-size: 1.5rem;
    background: #fff;
    padding: 1em 2em;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  }

  .hiddenindex .list {
    margin: 30px auto;
    display: flex;
    column-gap: 15px;
  }

  .hiddenindex .list div {
    width: 20em;
  }

}